.columnSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	height: calc(100% - 40px);
	border-radius: 10px;
	border: 2px solid gray;
	overflow: hidden;
	padding-bottom: 2.5rem;
}
.red {
	background-color: hsl(0, 88%, 40%);
}
.green {
	background-color: hsl(100, 80%, 40%);
}
.yellow {
	background-color: hsl(50, 75%, 50%);
}
.columnHeader {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid gray;
	color: white;
	text-shadow: 0 0 1px black;
	position: relative;
	flex-shrink: 0;
}
h3 {
	font-size: 0.8rem;
}
.headerAddButton {
	width: 15px;
	height: 15px;
	color: white;
	border: 2px solid white;
	background: none;
	border-radius: 50%;
	font-size: 0.8rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 1%;
	top: 35%;
	position: absolute;
	cursor: pointer;
}
.columnList {
	width: 100%;
	min-height: 100%;
	list-style-type: none;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
}
.columnList li {
	height: clamp(50px, 100px, 150px);
	width: clamp(90px, 95%, 250px);
	border: 1.5px solid black;
	border-radius: 10px;
	position: relative;
	margin-bottom: 5px;
	flex-shrink: 0;
}
li span {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
	font-weight: bold;
	border-bottom: 1.5px solid black;
	position: relative;
}
.deleteButton {
	position: absolute;
	right: 5%;
	bottom: 5%;
	width: 15px;
	height: 15px;
	background: none;
	border: 2px solid black;
	border-radius: 50%;
	cursor: pointer;
	font-size: 0.5rem;
	transition: all 0.25s linear;
}
li p {
	min-height: 80%;
	text-align: justify;
	font-size: 0.8rem;
	padding: 4px;
}
.proceedButton {
	position: absolute;
	right: 5%;
	bottom: 5%;
	width: 25px;
	height: 25px;
	background: none;
	border: 2px solid black;
	border-radius: 50%;
	cursor: pointer;
	font-size: 1rem;

	transition: all 0.25s linear;
}
.proceedButton:hover,
.deleteButton:hover {
	background-color: black;
	color: white;
}

.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal .addTask {
	width: 60%;
	height: 60%;
	background-color: white;
	border: 2.5px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modal .addTask h4 {
	margin: 1rem 0;
	width: 100%;
	text-align: center;
}
.options {
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.options select,
input,
textarea {
	border: 2px solid black;
	margin: 0.5rem 0;
}
.off {
	display: none;
	opacity: 0;
}
label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
